<div class="header">
  <div style="position:relative; height: 100%; width: 100%;">
    <button mat-button class="nav-button" routerLinkActive="selected" [routerLink]="['./']"
      [routerLinkActiveOptions]="{exact: true}" (click)="route('')">Patients</button>
    <button mat-button routerLinkActive="selected" routerLink="dashboard" class="nav-button"
      (click)="route('dashboard')">Dashboard</button>
    <img class="header-text" src="../assets/logo.png" (click)="route('')">
  </div>
</div>

<div class="app-body">
  <router-outlet></router-outlet>
</div>

<ng-progress id="myProgress" [speed]="200" [color]="'#ff4f4f'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'"
  [spinner]="false">
</ng-progress>