.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-bottom: 8px solid #ff4f4f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 100;
    min-width: 600px;
    min-width: 1024px;
}

.app-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 58px;
    background-color: #e2e2e2;
    min-width: 1024px;
}

.header-text {
    float: right;
    height: 30px;
    margin-top: 10px;
    margin-right: 15px;
    -webkit-filter: drop-shadow(2px 2px 2px #222222a1);
    filter: drop-shadow(2px 2px 2px #222222a1);
    cursor: pointer;
}

.nav-button {
    background-color: transparent;
    color: #ff4f4f;
    border-radius: 4px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    transition: .25s;
}

.selected {
    background-color: #ff4f4f3b;
}