// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$app-primary: (
    50: #ff4f4f,
    100: #ff4f4f,
    200: #ff4f4f,
    300: #ff4f4f,
    400: #ff4f4f,
    500: #ff4f4f,
    600: #ff4f4f,
    700: #ff4f4f,
    800: #ff4f4f,
    900: #ff4f4f,
    A100: #ff4f4f,
    A200: #ff4f4f,
    A400: #ff4f4f,
    A700: #ff4f4f,
    contrast: (50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hospital-tools-primary: mat.define-palette($app-primary);
$hospital-tools-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hospital-tools-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hospital-tools-theme: mat.define-light-theme((color: (primary: $hospital-tools-primary,
                accent: $hospital-tools-accent,
                warn: $hospital-tools-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($hospital-tools-theme);


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
    background-color: #ff4f4f;
    color: white;
}

.mat-simple-snackbar-action {
    color: White;
    font-weight: bold;
}

.drilldown-popup .mat-dialog-container {
    background-color: #e2e2e2;
    border-radius: 0;
    padding: 0;
}