<div class="popup-title">New Procedure</div>
<div class="new-procedure-grid">
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Procedure</mat-label>
            <input matInput [(ngModel)]="procedure.procedurePerformed">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Date & Time</mat-label>
            <input matInput [(ngModel)]="procedure.dateTime" [matDatepicker]="picker" (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Department</mat-label>
            <input matInput [(ngModel)]="procedure.department">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Results</mat-label>
            <input matInput [(ngModel)]="procedure.results">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Performed By</mat-label>
            <mat-select [(ngModel)]="procedure.performedBy">
                <mat-option *ngFor="let employee of employeeList" [value]="employee.employeeId" matTooltip="Job Title: {{employee.jobTitle}}
                Phone Number: {{employee.phoneNumber | phoneFormat}}
                Email: {{employee.email}}" matTooltipPosition="right" matTooltipShowDelay="0">
                    {{employee.firstName}} {{employee.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Floor Number</mat-label>
            <input matInput [(ngModel)]="procedure.floorNumber" type="number">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Room Number</mat-label>
            <input matInput [(ngModel)]="procedure.roomNumber" type="number">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="new-input-field">
            <mat-label>Notes</mat-label>
            <input matInput [(ngModel)]="procedure.notes">
        </mat-form-field>
    </div>
    <div class="bottom-bar">
        <button mat-button class="save-button" (click)="close(true)">Create Procedure
            <mat-icon matSuffix>save</mat-icon>
        </button>

        <button mat-button class="cancel-button" (click)="close(false)">Cancel
            <mat-icon matSuffix>close</mat-icon>
        </button>
    </div>
</div>