<div class="dashboard-grid">
    <div>
        <div class="title-block top-title" matTooltip="Most Frequent Treatment Types in The Last Month"
            matTooltipPosition="right" matTooltipShowDelay="400">
            Popular Procedures
        </div>
    </div>
    <div>
        <div class="title-block top-title" matTooltip="Most Common Reasons for Admission in The Last Month"
            matTooltipPosition="right" matTooltipShowDelay="400">
            Reasons For Admission
        </div>
    </div>
    <div class="relative-wrapper">
        <div class="dashboard-table animated fadeIn">
            <div class="dashboard-relative-wrapper">
                <div class="dashboard-header dashboard-row">
                    <div style="border-top-left-radius: 4px;">Procedure Type</div>
                    <div>Number of Procedures Performed</div>
                    <div style="border-top-right-radius: 4px;"></div>
                </div>
                <div class="dashboard-scroll-container">
                    <!-- <div *ngFor="">
                        <div class="dashboard-row animated fadeInUp">
                            <div>{{}}</div>
                            <div>{{}}</div>
                        </div>
                    </div> -->
                    <div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative-wrapper">
        <div class="dashboard-table animated fadeIn">
            <div class="dashboard-relative-wrapper">
                <div class="dashboard-header dashboard-row">
                    <div style="border-top-left-radius: 4px;">Admission Reason</div>
                    <div>Number of Admissions</div>
                    <div style="border-top-right-radius: 4px;"></div>
                </div>
                <div class="dashboard-scroll-container">
                    <!-- <div *ngFor="">
                        <div class="dashboard-row animated fadeInUp">
                            <div>{{}}</div>
                            <div>{{}}</div>
                        </div>
                    </div> -->
                    <div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="grid-area: 3 / 1 / span 1 / span 2;">
        <div class="title-block" matTooltip="Number of Patients Addmitted and Discharged Each Day in The Last Month"
            matTooltipPosition="right" matTooltipShowDelay="400">
            Patientients Addmitted / Discharged
        </div>
    </div>
    <div class="relative-wrapper" style="grid-area: 4 / 1 / span 1 / span 2;">
        <div class="dashboard-table col-3 animated fadeIn">
            <div class="dashboard-relative-wrapper">
                <div class="dashboard-header dashboard-row">
                    <div style="border-top-left-radius: 4px;">Date</div>
                    <div>Number of Admissions</div>
                    <div>Number of Discharges</div>
                    <div style="border-top-right-radius: 4px;"></div>
                </div>
                <div class="dashboard-scroll-container">
                    <!-- <div *ngFor="">
                        <div class="dashboard-row animated fadeInUp">
                            <div>{{}}</div>
                            <div>{{}}</div>
                            <div>{{}}</div>
                        </div>
                    </div> -->
                    <div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                        <div class="dashboard-row animated fadeInUp">
                            <div>asdf</div>
                            <div>asdf</div>
                            <div>asdf</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>