.drilldown-layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 74px 23px 1fr 23px 325px;
    min-width: 1024px;
}

.title-block {
    font-weight: bold;
    font-size: 16px;
    margin-left: 28px;
    display: inline-block;
    padding: 0 8px;
    background-color: white;
    border-radius: 4px;
    color: #ff4f4f;
    margin-top: 3px;
}

.top-title {
    margin-top: 30px !important;
}

.procedure-table {
    background-color: #e2e2e2;
    position: absolute;
    top: 8px;
    left: 20px;
    right: 20px;
    bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-filter: drop-shadow(2px 2px 2px #222222a1);
    filter: drop-shadow(2px 2px 2px #222222a1);
}

.procedure-relative-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.procedure-header {
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr 1fr 6fr 1em !important;
}

.procedure-header div {
    background-color: #ff4f4f !important;
    color: white !important;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.procedure-row {
    position: relative;
    display: grid;
    height: min-content;
    width: 100%;
    grid-template-rows: min-content;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr 1fr 6fr;
    column-gap: 3px;
    margin-bottom: 3px;
}

.procedure-row div {
    padding: 5px;
    min-width: none;
    background-color: #ffffff;
}

.procedure-scroll-container {
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.procedure-scroll-container::-webkit-scrollbar {
    width: 1em;
}

.procedure-scroll-container::-webkit-scrollbar-thumb {
    background-color: #c6c4c4;
    border: 1px solid white;
    border-bottom-right-radius: 4px;
}

.procedure-scroll-container::-webkit-scrollbar-track {
    border-bottom-right-radius: 4px;
}

.relative-wrapper {
    position: relative;
}

.visits-box {
    position: absolute;
    bottom: 8px;
    top: 8px;
    left: 20px;
    right: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 4px;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 5px 0px #222222a1;
    -moz-box-shadow: 2px 2px 5px 0px #222222a1;
    box-shadow: 2px 2px 5px 0px #222222a1;
}

.medication-box {
    position: absolute;
    bottom: 20px;
    top: 8px;
    left: 20px;
    right: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 4px;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 5px 0px #222222a1;
    -moz-box-shadow: 2px 2px 5px 0px #222222a1;
    box-shadow: 2px 2px 5px 0px #222222a1;
}

.medication-box::-webkit-scrollbar,
.visits-box::-webkit-scrollbar {
    height: 1em;
}

.medication-box::-webkit-scrollbar-thumb,
.visits-box::-webkit-scrollbar-thumb {
    background-color: #c6c4c4;
    border: 1px solid white;
    border-radius: 4px;
}

.medication-box::-webkit-scrollbar-track,
.visits-box::-webkit-scrollbar-track {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.medication-tile {
    height: 100%;
    width: 200px;
    background-color: white;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
}

.medication-field {
    display: inline-block;
    margin-left: 8px;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.edit-button {
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    height: 30px;
    width: 30px;
}

.edit-button.visit-edit {
    border-radius: 4px;
    background-color: white;
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    height: 30px;
    width: 30px;
}

.edit-button-icon {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 9px;
}

.visit-chip {
    height: 100%;
    width: 150px;
    background-color: white;
    margin-right: 4px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    transition: .25s;
}

.visit-chip:hover {
    background-color: #ff4f4f36;
    cursor: pointer;
}

.chip-start-date,
.chip-end-date {
    font-weight: bold;
    margin-left: 4px;
}

.visit-chip.selected-chip {
    background-color: #ff4f4f;
    color: white;
}

.hidden-button {
    display: none;
}

.add-button {
    color: #ff4f4f;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin-top: -4px;
    vertical-align: middle;
    margin-left: 2px;
}

.add-button .material-icons {
    margin-top: -14px;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
}

.back-button {
    float: right;
    background-color: #ff4f4f;
    color: white;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 28px;
    padding-left: 10px;
    -webkit-filter: drop-shadow(2px 2px 2px #222222a1);
    filter: drop-shadow(2px 2px 2px #222222a1);
    transition: .25s;
}

.back-button:hover {
    background-color: #ff6767be;
}